
back-ground-work/mydemo/mydemo/__pycache__/__init__.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/settings.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/urls.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/wsgi.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/__init__.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/admin.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/models.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/urls.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/views.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/0001_initial.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/0002_auto_20190528_1805.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/__init__.cpython-35.pyc
