
back-ground-work/mydemo/mydemo/__pycache__/__init__.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/settings.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/urls.cpython-35.pyc
back-ground-work/mydemo/mydemo/__pycache__/wsgi.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/__init__.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/admin.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/models.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/urls.cpython-35.pyc
back-ground-work/mydemo/users/__pycache__/views.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/0001_initial.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/0002_auto_20190528_1805.cpython-35.pyc
back-ground-work/mydemo/users/migrations/__pycache__/__init__.cpython-35.pyc
back-ground-work/mypro/mypro/__pycache__/__init__.cpython-35.pyc
back-ground-work/mypro/mypro/__pycache__/settings.cpython-35.pyc
back-ground-work/mypro/mypro/__pycache__/urls.cpython-35.pyc
back-ground-work/mypro/mypro/__pycache__/wsgi.cpython-35.pyc
back-ground-work/mypro/paper/__pycache__/__init__.cpython-35.pyc
back-ground-work/mypro/paper/__pycache__/admin.cpython-35.pyc
back-ground-work/mypro/paper/__pycache__/models.cpython-35.pyc
back-ground-work/mypro/paper/__pycache__/urls.cpython-35.pyc
back-ground-work/mypro/paper/__pycache__/views.cpython-35.pyc
back-ground-work/mypro/paper/migrations/__pycache__/__init__.cpython-35.pyc
back-ground-work/mypro/users/__pycache__/__init__.cpython-35.pyc
back-ground-work/mypro/users/__pycache__/admin.cpython-35.pyc
back-ground-work/mypro/users/__pycache__/models.cpython-35.pyc
back-ground-work/mypro/users/__pycache__/urls.cpython-35.pyc
back-ground-work/mypro/users/__pycache__/views.cpython-35.pyc
back-ground-work/mypro/users/migrations/__pycache__/0001_initial.cpython-35.pyc
back-ground-work/mypro/users/migrations/__pycache__/0002_auto_20190623_0502.cpython-35.pyc
back-ground-work/mypro/users/migrations/__pycache__/__init__.cpython-35.pyc


# fronted
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
